@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poiret+One&display=swap');

.letrafont {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.letrazul {
    color: rgb(0, 158, 243);
}
.maps{
    width: 60%;
    height: 50%;
}
html{
    font-size: 100px;
}
body{
    margin: 0;
    font-family: 'Jost', sans-serif;
}
h1{
    font-size: 0.6rem;
}
h2{
    font-size: 0.5rem;
}
h3{
    font-size: 0.4rem;
}
p{
    font-size: 0.3rem;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(0, 158, 243);
}

.titulo{
    background-color: rgb(0, 158, 243);
    color: white;
    text-align: center;
    padding: 2%;
    margin-top: -3%;
}

.yo{
    width: 125%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


img{
    align-items: center;
    justify-content: center;
    width: 100%;
}

.qui{
    border: solid 3px rgb(0, 158, 243);
    border-radius: 30px;
    margin: 5%;
    padding: 1%;
    display: flex;
    text-align: justify;
}
.estudios {
    text-align: center;
    border: solid 3px rgb(0, 158, 243);
    border-radius: 30px;
    margin: 5%;
    padding: 1%z

}
.info{
    text-align: justify;
    border: solid 3px rgb(0, 158, 243);
    border-radius: 30px;
    margin: 5%;
    margin-bottom: -1%;
    padding: 1%;
}
.divboton {
    text-align: center;
}
.boton {
    background-color: rgb(0, 158, 243);
    padding: 1.5% 4%;
    font-size: 0.3rem;
    margin-bottom: 1%;
}

.navbar{
    font-size: 0.3rem;
    background-color: rgb(0, 158, 243);
}
.nav{
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
}
.iconos{
    display: flex;
    padding-left: 1%;
    color: white;
}
.icono1{
    width: 72%;
    align-items: baseline;
    justify-content: baseline;
}

.Nubotica {
    width: 80%;
    height: auto;
    margin-left: 10%;
    border-radius: 5%;
}
.videodiv {
    text-align: center;
    margin-top: 2%;    
}
.video {
    width: 70vw;
    height: calc(70vw * 0.5);
}

@media (max-width: 500px) {
    html{
        font-size: 10vw;
    }
    .responsive {
        font-size: 10vw;
    }
    .Nubotica {
        width: 100%; 
        height: auto;
        margin-left: 0%;

    }
    .icono1{
        width: 60%;
    }
}