<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV DAVID VAZQUEZ DOMINGUEZ</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" type="image/png" href="./img/icon.jpg"/>
</head>
<body>
  <nav class="navbar">
    <div class="nav">
      <div class="iconos icono1"><a href="./index_en.html"><strong>Información General <i class="fas fa-home animated-icon"></i></strong></a></div>
      <div class="iconos"><a href="./experience.html"><strong>Experiencia <i class="fas fa-user animated-icon"></i>  </strong></a></div>
      <div class="iconos"><a href="./education.html"><strong>  Estudis <i class="fas fa-graduation-cap animated-icon"></i></strong></a></div>
    </div>
  </nav>
  <div class="titulo">
   <h1 class="letrafont">CV DAVID VAZQUEZ DOMINGUEZ</h1>
  </div>
  <div class="estudios letrafont letrazul">
    <h2>Estudios <i class="fas fa-graduation-cap animated-icon"></i></h2>
    <p><strong>Educación Secundaria Obligatoria (ESO)</strong></p>
    <p>Años de estudio: 2018-2022</p>
    <p>Centro de estudio: Escola Pia de Sitges</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11980.45219027265!2d1.8085354!3d41.2386562!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a38047bc636b51%3A0xf6a226f0cbe00d1a!2sEscola%20Pia%20de%20Sitges!5e0!3m2!1sca!2ses!4v1683733287332!5m2!1sca!2ses" class="maps"></iframe>
    <p><strong>CFGM Sistemas Microinformáticos y Redes</strong></p>
    <p>Cursandolo desde 2022</p>
    <p>Centro de estudio: Jesuïtes Bellvitge (Joan23)</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11980.45219027265!2d2.1072972!3d41.3498965!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesu%C3%AFtes%20Bellvitge%20-%20Centre%20d&#39;Estudis%20Joan%20XXIII!5e0!3m2!1sca!2ses!4v1683733287332!5m2!1sca!2ses" class="maps"></iframe>
  </div>
<div class="divboton">
<button class="boton" onclick="location.href='./view/en/index_en.html'">Canviar a Inglés</button>
<a href="./img/DavidVazquez_CVESP_0324.pdf" download>
    <button class="boton">Descargar CV en PDF</button></a>
</div>
      <footer class="nav navbar">
        <div class="iconos icono1"><a href="./index_en.html"><strong>Información General <i class="fas fa-home animated-icon"></i></strong></a></div>
        <div class="iconos"><a href="./experience.html"><strong>Experiencia <i class="fas fa-user animated-icon"></i>  </strong></a></div>
        <div class="iconos"><a href="./education.html"><strong>  Estudis <i class="fas fa-graduation-cap animated-icon"></i></strong></a></div>
      </footer>
</body>
</html>