<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV DAVID VAZQUEZ DOMINGUEZ</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" type="image/png" href="./img/icon.jpg"/>
</head>
<body>
  <nav class="navbar">
    <div class="nav">
      <div class="iconos icono1"><a href="./index_en.html"><strong>General Info <i class="fas fa-home animated-icon"></i></strong></a></div>
      <div class="iconos"><a href="./experience.html"><strong> experience <i class="fas fa-user animated-icon"></i>  </strong></a></div>
      <div class="iconos"><a href="./education.html"><strong>  Studies <i class="fas fa-graduation-cap animated-icon"></i></strong></a></div>
    </div>
  </nav>
  <div class="titulo">
   <h1 class="letrafont">CV DAVID VAZQUEZ DOMINGUEZ</h1>
  </div>
  <div class="letrafont letrazul info">
    <h2>Work Experience</h2>
    <p>My current work experience includes completing the FCTS (Job Training) for the CFGM (Vocational Training Cycle) I am currently enrolled in. I spent a total of 383 hours at a robotics academy called Nubótica.</p>
    <img src="../../img/FotoNubotica.jpg" alt="Nubótica Image" class="Nubotica">
    <h3>What tasks did I perform?</h3>
    <p>
      - Computer maintenance <br><br>
      - Maintenance of network printers <br><br>
      - Network maintenance <br><br>
      - Assistant in a Campus about Software
    </p>
  </div>
  
  <div class="divboton">
    <button class="boton letrafont" onclick="location.href='../../index.html'">Change to Spanish</button>
    <a href="../../img/DavidVazquez_CVESP_0324.pdf" download><button class="boton letrafont">Download CV</button></a>    </div>  
        <footer class="nav navbar">
          <div class="iconos icono1"><a href="./index_en.html"><strong>General Info <i class="fas fa-home animated-icon"></i></strong></a></div>
          <div class="iconos"><a href="./experience.html"><strong> experience <i class="fas fa-user animated-icon"></i>  </strong></a></div>
          <div class="iconos"><a href="./education.html"><strong>  Studies <i class="fas fa-graduation-cap animated-icon"></i></strong></a></div>
        </footer>
</html>
</body>