<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV DAVID VAZQUEZ DOMINGUEZ</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" type="image/png" href="./img/icon.jpg"/>
</head>
<body>
  <nav class="navbar">
    <div class="nav">
      <div class="iconos icono1"><a href="./index_en.html"><strong>General Info <i class="fas fa-home animated-icon"></i></strong></a></div>
      <div class="iconos"><a href="./experience.html"><strong> experience <i class="fas fa-user animated-icon"></i>  </strong></a></div>
      <div class="iconos"><a href="./education.html"><strong>  Studies <i class="fas fa-graduation-cap animated-icon"></i></strong></a></div>
    </div>
  </nav>
  <div class="titulo">
   <h1 class="letrafont">CV DAVID VAZQUEZ DOMINGUEZ</h1>
  </div>
  <div class="qui">
    <div class="letrafont letrazul">
      <h2>Who I am?</h2>
      <p>
        Hello, my name is David Vazquez. I'm a 17-year-old teenager about to finish a CFGM (Vocational Training Cycle) in Microcomputer Systems and Networks.</p>
      <p>I am a very independent person, and besides being proficient in computing, I also have a lot of knowledge in other areas such as 3D design and printing, and 2-stroke motorcycle mechanics.</p>
    </div>    
  </div>

  <div class="letrafont letrazul info">
    <h2>Languages</h2>
    <p>Catalan - Native</p>
    <p>Spanish - Native</p>
    <p>English - Intermediate</p>
  </div>
    <div class="info letrafont letrazul">
      <h2>Hobbies</h2>
      <h3>Motorcycles</h3>
      <p>I've been passionate about motorcycles since I was a child. Besides enjoying them, I've built strong relationships through them, learned a lot about mechanics, and they've helped me develop perseverance, as there's a lot of effort behind every motorcycle.</p>
      <h3>Design/3D Printing</h3>
      <p>I've always enjoyed creating things and inventing. About a year ago, I discovered 3D printers, and since then, I've been learning a lot in this field. It's entertaining to have an idea in mind and be able to design and create it within days.</p>
      <h3>Video Games</h3>
      <p>Video games have been a hobby of mine for a long time. They're a great way for me to have fun and socialize with friends, especially on days when we can't meet in person due to different circumstances.</p>
      <h3>Relationships</h3>
      <p>Building relationships with the people I care about is a fundamental part of my life. I cherish the good moments we share and constantly learn new things from them.</p>
    </div>

    <div class="letrafont letrazul info">
      <h2>Personal Information</h2>
      <p>Name: David Vazquez</p>
      <p>Age: 17 years old (09/2006)</p>
      <p>Phone <i class="fas fa-phone animated-icon"></i>: 633 70 53 60 </p>
      <p>Email <i class="fas fa-envelope animated-icon"></i>: 468120.joan23@fje.edu</p>
</div>
<div class="videodiv">
  <iframe src="https://www.youtube.com/embed/L77fg8LwMLg?si=NLPCvO-uL-UYv76G" frameborder="0" allowfullscreen class="video"></iframe>
</div>
<div class="divboton">
<button class="boton letrafont" onclick="location.href='../../index.html'">Change to Spanish</button>
<a href="../../img/DavidVazquez_CVESP_0324.pdf" download><button class="boton letrafont">Download CV</button></a>
</div>  
    <footer class="nav navbar">
      <div class="iconos icono1"><a href="./index_en.html"><strong>General Info <i class="fas fa-home animated-icon"></i></strong></a></div>
      <div class="iconos"><a href="./experience.html"><strong> experience <i class="fas fa-user animated-icon"></i>  </strong></a></div>
      <div class="iconos"><a href="./education.html"><strong>  Studies <i class="fas fa-graduation-cap animated-icon"></i></strong></a></div>
    </footer>
</div>
</body>
</html>