<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV DAVID VAZQUEZ DOMINGUEZ</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="icon" type="image/png" href="./img/icon.jpg"/>
</head>
<body>
  <div class="titulo" id="princ">
   <h1 class="letrafont">CV DAVID VAZQUEZ DOMINGUEZ</h1>
  </div>
  <div class="letrafont letrazul info">
    <h2>Experiéncia Laboral</h2>
    <p>La experiéncia laborar que yo tengo actualmente es haber hecho las FCTS del CFGM que estoy cursando, hice un total de 383H en una academia de robótica, que se llam Nubótica.</p>
  </div>

</html>